@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h2>Reporting System for Energy Consumption.</h2>
<p>
    The main purpose of the Reporting System for Energy Consumption is to improve the process of monitoring and reporting on the energy consumed by electric buses during their charging. This will reduce the time needed to manually prepare reports and analyze them.
    Automation will improve the collection of reports. Reports will be available via the Internet for an authorized group of users.
</p>
<p>
    <img src="~/Images/BlockDiagram.JPG" alt="Block diagram">
</p>
<p>
    Thanks for using my web sites.
</p>